*.log
.next/
.vscode/
.idea/
.docz/
build/
dist/
lib/
node_modules/
site/out/
tmp/
test.result.json
coverage


packages/*/yarn.lock
packages/*/dist
packages/*/node_modules


playground/yarn.lock
playground/dist
playground/node_modules

my.secrets
.DS_Store